
body {
      
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #292b2c;
  
}
/********** common setting **********/
h2 {
  font-size: 2.8rem !important;
  font-weight: 700;
}

img {
  display: block;
  max-width: 100%;
}

a,  
button {
  cursor: pointer;
}

.jumbotron {
  margin-bottom: 0 !important;
}

.atlas-cta {
  border-radius: 22px !important;
  padding: 12px 30px !important;
  font-weight: 700;
  transition: .3s ease-in-out !important;
}

.atlas-cta:hover {
  text-decoration: none;
  transform: translateY(-5px);
}

.atlas-cta-wide {
  width: 100%;
}

.cta-green {
  background: #00FFAD;
  color: #192440;
}

.cta-green:hover {
  color: #ffffff;
  background: #00e69c;
}

.cta-blue {
  background: #192440;
  color: #ffffff;
}

.cta-blue:hover {
  color: #ffffff;
  background: #121a2e;
}

.cta-ghost {
  border: 2px solid #192440 !important;
  color: #192440;
}

.cta-ghost:hover {
  color: #ffffff;
  background: #121a2e;
}

#banner {
  background-size: cover;

  padding: 7%;
}

/********** banner **********/
#banner header {
  overflow: hidden;
}

#banner header img {
  max-width: 80px;
}

/********** feature (skew background) **********/
.feature img {
  width: 100%;
  max-width: 480px;
}

#feature-first {
  background: linear-gradient(174deg, #ffffff 55%, #00FFAD 0);
  margin-top: 100px;
  padding: 146px;
}

#feature-last {
  background: #00FFAD;
  padding: 68px;
}

/********** price table **********/
#price-table {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

#price-table__premium {
  background: #192440;
  color: #ffffff;
}

#price-table ul li {
  padding: 5px 0;
}

/********** contact **********/
#contact {
  background-size: cover;
  padding: 80px;
}

#contact ul li {
  padding: 9px ;
}

#contact form {
  color: #00FFAD;
}

#contact form input,
#contact form textarea {
  background: transparent;
  padding: 7px;
  border: 1px solid #00FFAD;
  color: #ffffff;
}

/********** copyright **********/
#copyright {
  background: #192440;
  padding: 2rem 3rem;
}

#copyright #social-media a {
  width: 40px;
  height: 40px;
  border-radius: 99%;
  background: #ffffff;
  transition: .4s ease;
}

#copyright #social-media a i {
  color: #192440;
  font-size: 1.2rem;
  line-height: 40px;
}

#copyright #social-media a:hover {
  background: #00FFAD;
}

#copyright #social-media a:hover i {
  color: #ffffff;
}

/********** RWD **********/
@media (max-width: 575px) {
  #banner h1 {
      font-size: 3.6rem;
  }
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}



.template-container {
  display: flex;
    border: 1px solid black;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 86%;
    margin-left: 7%;
    margin-top: 80px;
}


.detail-Container {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
}

.productbox {
	background:#fff;
	padding:13px;
	border:1px solid #e4e4e4;
	margin-bottom:30px;
}
.latest-items .productbox {
	margin-bottom:30px;
}
.productbox h1 {
	display:block;
	font-size:17px;
	text-transform:uppercase;
	margin-top:15px;
	border-bottom:double medium #eee;
	padding-bottom:15px;
	margin-bottom:10px;
	font-weight:500;
	color:#333;
}
.product-details {
	padding:6px 0 0 0;
	text-align:center;
	color:#444;
}
.productbox .price {
	font-weight:400;
}

.properties-box {
	padding:20px 20px 15px 20px;
	border:1px solid #e4e4e4;
	margin-top:25px;
	clear:both;
	float:none;
	line-height:1.7;
}


.btn-grad {
  background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}







/**/


 body {
	 height: 100%;
	 margin: 0;
	 background-repeat: no-repeat;
	 background-attachment: fixed;
}
 main {
	 max-width: 720px;
	 margin: 5% auto;
}
 .card {
	 box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
	 transition: 200ms;
   margin: auto;
    width: 50%;
	 background: #fff;
}
 .card .card__title {
	 display: flex;
	 align-items: center;
	 padding: 30px 40px;
}
 .card .card__title h3 {
	 flex: 0 1 200px;
	 text-align: right;
	 margin: 0;
	 color: #252525;
	 font-family: sans-serif;
	 font-weight: 600;
	 font-size: 20px;
	 text-transform: uppercase;
}
 .card .card__title .icon {
	 flex: 1 0 10px;
	 background: #115dd8;
	 color: #fff;
   	width: 830px;
	 padding: 10px 10px;
	 transition: 200ms;
}
 .card .card__title .icon > a {
	 color: #fff;
}
 .card .card__title .icon:hover {
	 background: #252525;
}
 .card .card__body {
	 padding: 0 40px;
	 display: flex;
	 flex-flow: row no-wrap;
	 margin-bottom: 25px;
}
 .card .card__body > .half {
	 box-sizing: border-box;
	 padding: 0 15px;
	 flex: 1 0 50%;
}
 .card .card__body .featured_text h1 {
	 margin: 0;
	 padding: 0;
	 font-weight: 800;
	 font-family: "Montserrat", sans-serif;
	 font-size: 64px;
	 line-height: 50px;
	 color: #181e28;
}
 .card .card__body .featured_text p {
	 margin: 0;
	 padding: 0;
}
 .card .card__body .featured_text p.sub {
	 font-family: "Montserrat", sans-serif;
	 font-size: 26px;
	 text-transform: uppercase;
	 color: #686e77;
	 font-weight: 300;
	 margin-bottom: 5px;
}
 .card .card__body .featured_text p.price {
	 font-family: "Fjalla One", sans-serif;
	 color: #252525;
	 font-size: 26px;
}
 .card .card__body .image {
	 padding-top: 15px;
	 width: 100%;
}
 .card .card__body .image img {
	 display: block;
	 max-width: 100%;
	 height: auto;
}
 .card .card__body .description {
	 margin-bottom: 25px;
}
 .card .card__body .description p {
	 margin: 0;
	 font-family: "Open Sans", sans-serif;
	 font-weight: 300;
	 line-height: 27px;
	 font-size: 16px;
	 color: #555;
}
 .card .card__body span.stock {
	 font-family: "Montserrat", sans-serif;
	 font-weight: 600;
	 color: #a1cc16;
}
 .card .card__body .reviews .stars {
	 display: inline-block;
	 list-style: none;
	 padding: 0;
}
 .card .card__body .reviews .stars > li {
	 display: inline-block;
}
 .card .card__body .reviews .stars > li .fa {
	 color: #f7c01b;
}
 .card .card__body .reviews > span {
	 font-family: "Open Sans", sans-serif;
	 font-size: 14px;
	 margin-left: 5px;
	 color: #555;
}
 .card .card__footer {
	 padding: 30px 40px;
	 display: flex;
	 flex-flow: row no-wrap;
	 align-items: center;
	 position: relative;
}
 .card .card__footer::before {
	 content: "";
	 position: absolute;
	 display: block;
	 top: 0;
	 left: 40px;
	 width: calc(100% - 40px);
	 height: 3px;
	 background: #115dd8;
	 background: linear-gradient(to right, #115dd8 0%, #115dd8 20%, #ddd 20%, #ddd 100%);
}
 .card .card__footer .recommend {
	 flex: 1 0 10px;
}
 .card .card__footer .recommend p {
	 margin: 0;
	 font-family: "Montserrat", sans-serif;
	 text-transform: uppercase;
	 font-weight: 600;
	 font-size: 14px;
	 color: #555;
}
 .card .card__footer .recommend h3 {
	 margin: 0;
	 font-size: 20px;
	 font-family: "Montserrat", sans-serif;
	 font-weight: 600;
	 text-transform: uppercase;
	 color: #115dd8;
}
 .card .card__footer .action button {
	 cursor: pointer;
	 border: 1px solid #115dd8;
	 padding: 14px 30px;
	 border-radius: 200px;
	 color: #fff;
	 background: #115dd8;
	 font-family: "Open Sans", sans-serif;
	 font-size: 16px;
	 transition: 200ms;
}
 .card .card__footer .action button:hover {
	 background: #fff;
	 color: #115dd8;
}
 