
body {
      
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #292b2c;
  
}
/********** common setting **********/
h2 {
  font-size: 2.8rem !important;
  font-weight: 700;
}

img {
  display: block;
  max-width: 100%;
}

a,  
button {
  cursor: pointer;
}

.jumbotron {
  margin-bottom: 0 !important;
}

.atlas-cta {
  border-radius: 22px !important;
  padding: 12px 30px !important;
  font-weight: 700;
  transition: .3s ease-in-out !important;
}

.atlas-cta:hover {
  text-decoration: none;
  transform: translateY(-5px);
}

.atlas-cta-wide {
  width: 100%;
}

.cta-green {
  background: #00FFAD;
  color: #192440;
}

.cta-green:hover {
  color: #ffffff;
  background: #00e69c;
}

.cta-blue {
  background: #192440;
  color: #ffffff;
}

.cta-blue:hover {
  color: #ffffff;
  background: #121a2e;
}

.cta-ghost {
  border: 2px solid #192440 !important;
  color: #192440;
}

.cta-ghost:hover {
  color: #ffffff;
  background: #121a2e;
}

#banner {
  background-size: cover;

  padding: 7%;
}

/********** banner **********/
#banner header {
  overflow: hidden;
}

#banner header img {
  max-width: 80px;
}

/********** feature (skew background) **********/
.feature img {
  width: 100%;
  max-width: 480px;
}

#feature-first {
  background: linear-gradient(174deg, #ffffff 55%, #00FFAD 0);
  margin-top: 100px;
  padding: 146px;
}

#feature-last {
  background: #00FFAD;
  padding: 68px;
}

/********** price table **********/
#price-table {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

#price-table__premium {
  background: #192440;
  color: #ffffff;
}

#price-table ul li {
  padding: 5px 0;
}

/********** contact **********/
#contact {
  background-size: cover;
  padding: 80px;
}

#contact ul li {
  padding: 9px ;
}

#contact form {
  color: #00FFAD;
}

#contact form input,
#contact form textarea {
  background: transparent;
  padding: 7px;
  border: 1px solid #00FFAD;
  color: #ffffff;
}

/********** copyright **********/
#copyright {
  background: #192440;
  padding: 2rem 3rem;
}

#copyright #social-media a {
  width: 40px;
  height: 40px;
  border-radius: 99%;
  background: #ffffff;
  transition: .4s ease;
}

#copyright #social-media a i {
  color: #192440;
  font-size: 1.2rem;
  line-height: 40px;
}

#copyright #social-media a:hover {
  background: #00FFAD;
}

#copyright #social-media a:hover i {
  color: #ffffff;
}

/********** RWD **********/
@media (max-width: 575px) {
  #banner h1 {
      font-size: 3.6rem;
  }
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}



.template-container {
  display: flex;
    border: 1px solid black;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 86%;
    margin-left: 7%;
    margin-top: 80px;
}


.detail-Container {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
}

.productbox {
	background:#fff;
	padding:13px;
	border:1px solid #e4e4e4;
	margin-bottom:30px;
}
.latest-items .productbox {
	margin-bottom:30px;
}
.productbox h1 {
	display:block;
	font-size:17px;
	text-transform:uppercase;
	margin-top:15px;
	border-bottom:double medium #eee;
	padding-bottom:15px;
	margin-bottom:10px;
	font-weight:500;
	color:#333;
}
.product-details {
	padding:6px 0 0 0;
	text-align:center;
	color:#444;
}
.productbox .price {
	font-weight:400;
}

.properties-box {
	padding:20px 20px 15px 20px;
	border:1px solid #e4e4e4;
	margin-top:25px;
	clear:both;
	float:none;
	line-height:1.7;
}


.btn-grad {
  background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
